<header class=" float-left header_area headroom headroom--not-bottom headroom--pinned headroom--top" style="position: fixed;z-index: 999999;">
    <div class="row align-items-center">
        <!-- Menu Area Start -->
        <div class="col-12">
            <div class="menu_area">
                <nav class="navbar navbar-expand-xl px-1 py-0">
                    <!-- Logo -->
                    <a href="../pages/admin.html"><img src="../../img/bg-img/logo.png" class="img-fluid logo-width" alt="Brand Logo" /></a>
                    <ul id="Tnavlist" class="row">

                    </ul>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Menu Area -->
                    <div class="navbar-collapse collapse" id="ca-navbar">
                        <ul class="nav navbar-nav ml-auto" id="profileContainer">
                            

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>